body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,p{margin:0;padding:0;border:0;}
body{color:#333;font-size:12px;font-family:"Microsoft YaHei";background: #0f6dda;width: 100%;height: 100%;overflow-x: hidden;overflow-y: auto;}
ul,ol{list-style-type:none;}
select,input,img,select{vertical-align:middle;}
input{ font-size:12px;}
a{ text-decoration:none; color:#000;}
a:hover{color:#c00; text-decoration:none;}
.clear{clear:both;}

/* 普通样式 */
header{
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    font-size: 1.125rem;
    font-weight: bold;
    font-family: PingFang-SC;
}

main{
    position: relative;
    /* background: url */
    background: url(../images/zfb-bg.png) left top;
    background-size: 100% 100%;
    height: 100%;
    background-color: #1175dd;
}

main .paperPage{
    position: fixed;
    right: 0.725rem;
    top: 25.4375rem;
    z-index: 99;
    width: 51px;
    height: 51px;
}

main .header-png{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

main .header-png img{
    width: 14rem;
    height: auto;
    margin-top: 2.65rem;
}


.popUp{
    background-color: rega(0,0,0,0.6);
}

main .hisDiv{
    position: absolute;
    right: 0.5rem;
    top: 1.75rem;
}

main .hisDiv img{
    width: 4rem;
    height: auto;
}

main .prizeHis{
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    border: 1px solid #fff;
    border-radius: 0.781rem;
    outline: none;
    background-color: #fd653c;
    color: #fff;
    width: 5.375rem;
    height: 1.563rem;
    line-height: 1.563rem;
}

main .prizePer{
    text-align: left;
    text-indent: 2.5rem;
    margin: 1rem auto 0.375rem;
    background: skyblue;
    height: 2.188rem;
    width: 17.125rem;
    border-radius: 1.094rem;
    background-color: #fb6c43;
    overflow: hidden;
    border: 2px solid #66226f;
    box-sizing: content-box;
}

main .prizePer li{
    height: inherit;
    line-height: 2.188rem;
    color: #fff;
    font-size: 0.75rem;
}

main .giftImg{
    position: absolute;
    top: 0.4rem;
    left: 16%;
    animation: giftMove 2s infinite;
    width: 23px;
    height: 23px;
}

@keyframes giftMove{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.1);
    }
}

main .kukuBaby{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

main .getPriChance{
    text-align: center;
    color: #fff;
    font-size: 0.688rem;
    margin-bottom: 1.5rem;
}

main .lessInte{
    text-align: center;
    font-size: 0.938rem;
    color: #fff;
}

main .changes-wx-div{
    background-image: url("../images/wx-change-bg.png");
    background-size: 9rem auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 2rem;
    margin: 1.25rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main .changes-zfb-div{
    background-image: url("../images/zfb-change-bg.png");
    background-size: 9rem auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 2rem;
    margin: 1.25rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rule{
    background: #ffffff;
    width: 86%;
    border-radius: 4px;
    margin: 1.65rem 0;
}

.rule .rule-header{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 1rem;
}

.rule .rule-header span{
    color: #262626;
    font-size: 0.75rem;
    ont-weight: bold;
    letter-spacing:6px;
    margin: 0 0 0 6px;
}


.rule .rule-header img{
    height: 1px;
    width: 5.5rem;
}

.rule-content .content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 10px 10px 10px;
    word-break: break-all;
}

span.red{
    color: #ff3600;
}

span.gold{
    color: #ffaa24;
    font-weight: bolder;
}

main .onceChance{
    text-align: center;
    color: #fff;
    font-size: 0.625rem;
    margin-bottom: 8px;
}

main .getMoreChance{
    display: block;
    box-shadow: 1px 1px 1px 1px #eee;
    outline: none;
    width: 9.125rem;
    height: 1.875rem;
    background-color: #ffdf37;
    border-radius: 0.938rem;
    margin: 0 auto;
}

[v-cloak] {
    display: none;
}

.isMoreIntePage{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.isMoreInte{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 20rem;
    height: 19.062rem;
    background-color: #fcbc3f;
    border-radius: 10px;
}

.isMoreInte ul{
    background-color: #fff;
    padding: 0 0.875rem;
    margin-top: 0.5rem;
    background-clip: content-box;
}

.isMoreInte .goldImg{
    display: block;
    margin: -46px auto 0;
    width: 100%;
    height: 212.56px;
}
.isMoreInte prizePer{
    width: 18.25rem;
    height: 7.812rem;
    background-color: #fff;
    margin: 17px auto;
}

.isMoreInte li{
    height: 3.85rem;
    width: 16.125rem;
    margin: 0 auto;
    padding-left: 1.625rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.isMoreInte .left{
    width: 9rem;
}

.isMoreInte li:nth-of-type(2){
    height: 0px;
    border-bottom: 1px solid #e6e6e6;
}

.isMoreInte .title{
    font-size: 0.938rem;
    color: #333;
    height: 0.938rem;
    line-height: 0.938rem;
    font-weight: 800;
}

.isMoreInte .smallCont{
    font-size: 0.625rem;
    color: #999;
}

.isMoreInte .right{
    color: #fff;
    width: 4.375rem;
    height: 1.688rem;
    background-color: #ffaa24;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.688rem;
    border-radius: 0.844rem;
    box-sizing: border-box;
}

.isMoreInte li img{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.isMoreInte .closeImg{
    display: block;
    margin: 50px auto 0;
    width: 24px;
    height: 24px;
}

/* 抽奖页面 */
.drawBox{
    width: 20.5rem;
    height: 22.125rem;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    /*background: no-repeat url(../images/gzh/sign-in-top-kuk-uv-1-3.png) #fff;*/
    background-size: 100%;
    border-radius: 10px 10px 0 0;
    padding-top: 4.937rem;
}

.top{
    position: relative;
    height: 10rem;
}

.top .bgRound{
    position: absolute;
    top: 2.375rem;
    left: 50%;
    transform: translateX(-50%);
}

.top .days{
    position: absolute;
    top: 0.938rem;
}

.top img:nth-of-type(2){
    left: 2.688rem;
}

.top img:nth-of-type(3){
    left: 6.75rem;
}

.top img:nth-of-type(4){
    left: 10.812rem;
}

.top img:nth-of-type(5){
    left: 14.875rem;
}

.top .lastDays{
    position: absolute;
    top: 5.812rem;
}

.top img:nth-last-of-type(1){
    left: 4.688rem;
}

.top img:nth-last-of-type(2){
    left: 8.75rem;
}

.top img:nth-last-of-type(3){
    left: 12.812rem;
}

.drawBox .footer{
    font-size: 10.5px;
    color: #999;
    text-align: center;
}

.drawBox .middle{
    width: 65px;
    height: 80px;
    margin: 5px auto 0;
    background: url(../../img/gzh/dice-1@2x.png) no-repeat;
    background-size: 100% 100%;
}

.drawBox .allInte{
    color: #ffaa24;
    height: 15px;
    font: bolder 15px/15px 'PingFangSC';
    text-align: center;
}

.drawBox .bothBtn{
    width: 12.625rem;
    margin: 0.75rem auto 0.562rem;
    display: flex;
    justify-content: space-between;
}

.bothBtn button{
    width: 5.7rem;
    height: 2.188rem;
    border-radius: 1.094rem;
    border: 1px solid #ffaa24;
    outline: none;
    color: #fff;
    background-color: #ffaa24;
    box-sizing: border-box;
    font-size: 15px;
}

.bothBtn button:last-of-type{
    color: #ffaa24;
    background-color: transparent;
}

.hisBox, .entityBox{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 2%;
    width: 21.25rem;
    height: 38rem;
    background-color: #fff;
    color: #262626;
    overflow: scroll;
}

.winBox{
    width: 21rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}
.winBox .entityContent1{
    width: 6rem;
    height: 6rem;
    margin-top: 10rem;
}

.hisBox .top,.entityBox .entityTop{
    position: relative;
    height: 3.75rem;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-size: 20px;
    line-height: 3.75rem;
}

.hisBox .top img{
    float: right;
    margin-right: 6px;
    margin-top: 0.75rem;
}

.hisBox .tableContent{
    display: flex;
    flex-direction: column;
    border-bottom: 1px #E4E4E4 solid;
}

.hisItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin: 6px;
}

.hisRight{
    width: 90px;
    text-align: right;
}

.hisItemText{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    align-self: flex-start;
    margin: 10px 12px;
}

.hisBox table{
    width: 100%;
    text-align: center;
}

.hisBox thead th{
    font-size: 1rem;
    height: 2.5rem;
}

.hisBox table td{
    font-size: 0.75rem;
    overflow: hidden;
    width: 110px;
}

.entityBox .entityTop img{
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
}

.entityBox .entityContent{
    width: 6rem;
    height: auto;
    background: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 46%;
}

.winBox .queryBtn{
    width: auto;
    height: 4rem;
}



.entityContent p{
    text-indent: 1.75rem;
    font-size: 0.875rem;
    padding-bottom: 0.563rem;
}

.entityContent p span{
    color: #ffaa24;
    font-weight: bolder;
}

.entityContent input{
    width: 100%;
    height: 1.875rem;
    text-indent: 1rem;
    margin-top: 0.688rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #ebebeb;
}

.entityContent button{
    color: #fff;
    background-color: #ffaa24;
    border: none;
    outline: none;
    width: 8.125rem;
    height: 2.186rem;
    border-radius: 1rem;
    font-size: 1rem;
    display: block;
    margin: 1.438rem auto 0;
}
.winBox .closeImg{
    isplay: block;
    margin: 50px auto 0;
    width: 1.2rem;
    height: auto;
    position: absolute;
    bottom: -.65rem;
    left: 50%;
    transform: translateX(-50%);
}
.entityBox .closeImg{
    isplay: block;
    margin: 50px auto 0;
    width: 1.2rem;
    height: auto;
    position: absolute;
    bottom: -2.65rem;
    left: 50%;
    transform: translateX(-50%);
}

.entityBox .showRecharge{
    text-align: center;
}

.showRechargeImg{
    position: absolute;
    left: 50%;
    bottom: -5rem;
    transform: translateX(-50%);
    width: 24px;
    height: 24px;
}

.subInfo img{
    margin: 1rem 0;
    border: 3px solid #ffaa24;
    border-radius: 10px;
}

.subInfo p{
    color: #666;
    font: 0.875rem 'PingFangSC';
    padding: 0.218rem 0;
}

.subInfo p:last-of-type,.subInfo p:nth-last-of-type(2){
    font-size: 0.75rem;
}

.header-left {
    position: absolute;
    top: 0.8rem;
    display: block;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: #ccc;
}
.header-left-arrow {
    content: "";
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    border: 1px solid #ccc;
    border-width: 2px 0 0 2px;
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
    top: 0.1875rem;
    left: 0.875rem;
}

/* 签到后变成灰色 */
.signIn{
    background-color: #999 !important;
    border: none !important;
}

/* 补样式 */
.calendar{
    width: 22px;
    height: 21px;
}

/* 大转盘样式 */
.banner{display:block;width:98%;margin-left:auto;margin-right:auto;}
.banner .turnplate{display:block;width:100%;position:relative;}
.banner .turnplate canvas.item{width:100%;}
.banner .turnplate img.pointer{
    position: absolute;
    left: 50%;
    top: 34%;
    width: 4.65rem;
    height: auto;
    transform: translateX(-50%);
}
#getPrize{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
